<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.st.BlueSTSDK.gui"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- needed for read the fw file -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DebugConsoleActivity"
            android:label="@string/title_activity_debug_console"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.Settings">
        </activity>
        <activity
            android:name=".licenseManager.LicenseManagerActivity"
            android:label="@string/licenseManager_statusActivityName"
            android:launchMode="singleTop">
        </activity>
        <activity android:name=".licenseManager.RequestLicenseActivity"
            android:label="@string/approveLicenseActivityName"
                  android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.st.BlueSTSDK.gui.licenseManager.LicenseManagerActivity"/>
        </activity>
        <activity
            android:name=".licenseManager.LoadLicenseActivity"
            android:label="@string/licenseManager_loadActivityName"
            android:parentActivityName=".licenseManager.LicenseManagerActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.st.BlueSTSDK.gui.licenseManager.LicenseManagerActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.osxlicense"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".fwUpgrade.FwUpgradeActivity"
            android:label="@string/title_activity_fw_upgrade"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>