<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.st.BlueSTSDK.gui"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DebugConsoleActivity"
            android:label="@string/title_activity_debug_console"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
    </application>



</manifest>
